<!DOCTYPE html>
<html lang="en" class="scroll-smooth" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Smartcity - Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.build.tailwind.css}">

    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">
</head>

<body class="font-sans">
    <!-- Header -->
    <nav
        class="block bg-black/50 w-full px-8 py-2 mx-auto fixed top-0 left-0 right-0 bg-opacity-80 backdrop-blur-lg backdrop-saturate-150 z-[9999]">
        <div class="container flex flex-wrap items-center justify-between mx-auto text-slate-100">
            <div class="hidden lg:block">
                <ul class="flex flex-col gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
                    <li class="flex items-center p-1 text-sm gap-x-2 text-slate-100">
                        <div class="w-1.5 h-1.5 rounded-full bg-slate-100"></div>
                        <a href="#" class="flex items-center">Home</a>
                    </li>
                    <li class="flex items-center p-1 text-sm gap-x-2 text-slate-300">
                        <a th:href="@{/facilities}" class="flex items-center">Facilities</a>
                    </li>
                </ul>
            </div>
            <a href="#" class="mr-4 block cursor-pointer py-1.5 text-base text-slate-100 font-semibold">
                <img th:src="@{/images/logo-text-smc-light.svg}" class="w-2/3 m-auto" alt="logo">
            </a>
            <div class="hidden lg:block">
                <ul class="flex flex-col gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
                    <li class="flex items-center p-1 text-sm gap-x-2 text-slate-100">
                        <a href="#" class="flex items-center w-4">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                fill="none">
                                <path
                                    d="M15 12C15 10.8954 15.8954 10 17 10C19.2091 10 21 11.7909 21 14C21 16.2091 19.2091 18 17 18C15.8954 18 15 17.1046 15 16V12Z"
                                    stroke="currentColor" stroke-width="1.5" />
                                <path
                                    d="M9 12C9 10.8954 8.10457 10 7 10C4.79086 10 3 11.7909 3 14C3 16.2091 4.79086 18 7 18C8.10457 18 9 17.1046 9 16V12Z"
                                    stroke="currentColor" stroke-width="1.5" />
                                <path
                                    d="M3 14V11C3 6.02944 7.02944 2 12 2C16.9706 2 21 6.02944 21 11V15.8462C21 17.8545 21 18.8586 20.6476 19.6417C20.2465 20.5329 19.5329 21.2465 18.6417 21.6476C17.8586 22 16.8545 22 14.8462 22H12"
                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </a>
                    </li>
                    <li class="flex items-center p-1 text-sm gap-x-2 text-slate-100">
                        <a href="#" class="flex items-center w-4">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                fill="none">
                                <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5" />
                                <path
                                    d="M10 9C10 7.89543 10.8954 7 12 7C13.1046 7 14 7.89543 14 9C14 9.39815 13.8837 9.76913 13.6831 10.0808C13.0854 11.0097 12 11.8954 12 13V13.5"
                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                <path d="M11.992 17H12.001" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <button
                class="relative ml-auto h-6 max-h-[40px] w-6 max-w-[40px] select-none rounded-lg text-center align-middle text-xs font-medium uppercase text-inherit transition-all hover:bg-transparent focus:bg-transparent active:bg-transparent disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:hidden"
                type="button">
                <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" stroke="currentColor"
                        stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </span>
            </button>
        </div>
    </nav>

    <!-- Body -->
    <main>
        <section id="hero" class="">
            <div id="trending"
                class="flex items-center justify-center w-full relative z-0 h-[75vh] top-0 left-0 right-0 bg-slate-300 overflow-hidden">
                <img th:src="@{/images/smart-city-bg.jpg}" class="select-none pointn absolute object-cover z-0 brightness-50" alt="">
                <div class="absolute -bottom-8 w-full h-32 scale-110 bg-gradient-to-b from-white to-white blur-md"></div>

                <div class="z-10 xl:mb-44 text-white text-center leading-tight">
                    <small class="text-sm text-slate-200">Bring out the best out of</small>
                    <h1 class="text-8xl font-bold font-title"> Smart<span class="text-blue-600">city</span>.</h1>
                    <div class="flex gap-2.5 items-center">
                        <p>Hotels</p>
                        <div class="w-1 h-1 bg-slate-100 rounded-full"></div>
                        <p>ATMs</p>
                        <div class="w-1 h-1 bg-slate-100 rounded-full"></div>
                        <p>Restuarants</p>
                        <div class="w-1 h-1 bg-slate-100 rounded-full"></div>
                        <p>Attractions</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="about" class="p-2 max-w-screen-xl m-auto">
            <div class="flex justify-between gap-4">
                <div class="flex flex-col gap-2 w-1/3 max-w-md m-auto items-start justify-start">
                    <h2 class="text-4xl font-extrabold font-title">
                        Why <br>Smart<span class="text-blue-600">city</span>?
                    </h2>

                    <p class="text-base">
                        The Smart City project is a web-based software
                        application built to store all the essential details of a
                        city. Cities and urban areas witness a massive wave of
                        people coming from every corner in search of jobs,
                        education, and even a better lifestyle.
                    </p>

                    <p class="text-base">
                        In the initial days
                        after the move, people don't know the main facilities,38
                        attractions, and services offered in the city. The smart
                        city project seeks to address that by creating an
                        integrated platform to store essential and related
                        information to guide newcomers in a city.
                    </p>
                </div>

                <img th:src="@{images/about.svg}" class="w-1/3" alt="">

                <div class="flex flex-col gap-2 w-1/3 max-w-md m-auto self-start">
                    <h2 class="text-4xl font-extrabold font-title">
                        How <br>it <span class="text-blue-600">works</span>.
                    </h2>

                    <p class="text-base">
                        The application will provide visitors, students, and job
                        seekers information like hotels, renting facilities,
                        transportation services, healthcare services, airline ticket39
                        booking, shopping landmarks, emergency helplines, and
                        basically every information that one needs when in a
                        new city. It is like a smart city guide for visitors.
                    </p>

                    <hr class="w-full">

                    <small class="text-slate-400 text-sm leading-tight">
                        Users can connect to the application and browse all the
                        smart city web pages to get the details they need. Users
                        can see the entire map of a city along with the important
                        landmarks.
                    </small>
                </div>
            </div>
        </section>

        <section id="services" class="p-2 max-w-screen-xl mt-10 m-auto">
            <div class="flex flex-col gap-4">
                <h2 class="text-center text-4xl font-extrabold font-title">
                    What next?
                </h2>
                <div class="grid grid-cols-12 items-center gap-4">
                    <div class="col-span-8 flex flex-col gap-4">
                        <div class="relative h-64 rounded-xl overflow-hidden text-white">
                            <a th:href="@{/facilities}" class="">
                                <img class="w-full h-full object-cover"
                                    th:src="@{images/smart-city-bg.jpg}" alt="bg" />
                                <div
                                    class="flex space-y-2 flex-col items-start justify-end absolute top-0 right-0 left-0 bottom-0 rounded-xl font-bold text-4xl text-slate-50 p-4 bg-gradient-to-b from-slate-300/10 to-slate-950">
                                    <span class="">View Facilities</span>
                                    <span class="text-sm text-slate-400 font-normal">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus repellendus autem consequuntur, magnam quos aliquid?
                                        Tempore necessitatibus ullam cumque sit?
                                    </span>
                                </div>
                            </a>
                        </div>

                        <div class="relative h-64 rounded-xl overflow-hidden text-white">
                            <a th:href="@{/categories}" class="">
                                <img class="w-full h-full object-cover"
                                    th:src="@{images/smart-city-bg.jpg}" alt="bg" />
                                <div
                                    class="flex space-y-2 flex-col items-start justify-end absolute top-0 right-0 left-0 bottom-0 rounded-xl font-bold text-4xl text-slate-50 p-4 bg-gradient-to-b from-slate-300/10 to-slate-950">
                                    <span class="">Available Categories</span>
                                    <span class="text-sm text-slate-400 font-normal">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus repellendus autem consequuntur, magnam quos aliquid?
                                        Tempore necessitatibus ullam cumque sit?
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-span-4 relative h-full rounded-xl overflow-hidden text-white">
                        <a th:href="@{/login}" class="">
                            <img class="w-full h-full object-cover"
                                th:src="@{images/smart-city-bg.jpg}" alt="bg" />
                            <div
                                class="flex space-y-2 flex-col items-start justify-end absolute top-0 right-0 left-0 bottom-0 rounded-xl font-bold text-4xl text-slate-50 p-4 bg-gradient-to-b from-slate-300/10 to-slate-950">
                                <span class="">Get Started <br>make impact</span>
                                <span class="text-sm text-slate-400 font-normal">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At, totam.
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="services" class="p-2 max-w-screen-xl mt-10 m-auto">
            <div class="flex items-center justify-center gap-4">
                <img th:src="@{images/city.svg}" class="w-1/3" alt="">

                <div class="flex flex-col gap-2">
                    <blockquote class="max-w-sm italic">
                        Smart cities do not  mean creating jungles of concretes or sophisticated 
                        cities of glasses with HiFi technologies. But a smart city means a city, where humans,
                        tress, birds, and other animalse can grow with all glories, imperfections, 
                        freedom and creativity
                    </blockquote>

                    <img th:src="@{images/logo-text-smc-dark.svg}" class="w-1/3 mt-2" alt="">
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="flex flex-row flex-wrap items-center justify-center w-full max-w-screen-xl m-auto mt-8 py-6 text-center border-t gap-y-6 gap-x-12 border-slate-200 md:justify-between">
        <p class="block text-slate-800 font-semibold text-sm">
            <img th:src="@{/images/logo-text-smc-dark.svg}" class="" alt="logo">
        </p>
        <p class="text-sm text-center text-slate-500">
            Copyright © 2024&nbsp; 
            <a href="" target="_blank" rel="noreferrer">Smartcity</a>.
          </p>
      </footer> 
</body>

</html>